<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1 style="color: red;">{{role}}</h1>
    <span class="menu-spacer"></span>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/account'"> Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/services'"> Services </a>
      <a mat-button > Logout </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>